@model IEnumerable<DriverViewModel>
@{
    ViewBag.Title = "Drivers";
}
<h1>@ViewBag.Title</h1>
<div>
    <form>
        <button asp-action="Add" class="btn btn-success">Create new</button>
    </form>
</div>
<table>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.DriverId)</th>
            <th>@Html.DisplayNameFor(m => m.Employee) brief</th>
            <th>Manage</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var driver in Model)
            {
                <tr>
                    <th>@Html.DisplayFor(m => driver.DriverId)</th>
                    @if (driver.Employee != null)
                    {
                        <td>
                            <a asp-controller="Employee" asp-action="Details" asp-route-id="@driver.EmployeeId">
                                Details: @driver.Employee.ToString()
                            </a>
                        </td>
                    }
                    else
                    {
                        <td>null</td>
                    }
                    <td>
                        <form>
                            <button asp-action="Details" asp-route-id="@driver.DriverId" class="btn btn-primary">Details</button>
                            <button asp-action="Edit" asp-route-id="@driver.DriverId" class="btn btn-warning">Edit</button>
                            <button asp-action="Remove" asp-route-id="@driver.DriverId" class="btn btn-danger">Remove</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
