@model ProfessionDriver.ViewModels.EntityViewModel
@{
    ViewBag.Title = "Delete confirmation";
}

<h1>@ViewBag.Title</h1>
<h3>Are you sure you want to <strong>delete</strong> this?</h3>
<div>
    <p>
        <strong>
            @Html.DisplayNameFor(m => m.EntityId)
        </strong>
        @Html.DisplayFor(m => m.EntityId)
    </p>
    <p>
        <strong>
            @Html.DisplayNameFor(m => m.EntityName)
        </strong>
        @Html.DisplayFor(m => m.EntityName)
    </p>
</div> 
<form asp-action="Delete">
    <input type="hidden" asp-for="EntityId"/>
    <input type="submit" value="Delete" class="btn btn-danger"/>
    <button asp-action="Index" class="btn btn-primary">Cancel</button>
</form>