@model ProfessionDriver.ViewModels.EntityViewModel

@{
    ViewBag.Title = "Entity Details";
}

<h1>@ViewBag.Title</h1>
<div>
    <form>
        <button asp-action="Add" class="btn btn-success">Create new</button>
    </form>
</div>
<div>
    <p>
        <strong>
            @Html.DisplayNameFor(m=>m.EntityId)
        </strong>
        @Html.DisplayFor(m => m.EntityId)
    </p>
    <p>
        <strong>
            @Html.DisplayNameFor(m => m.EntityName)
        </strong>
        @Html.DisplayFor(m => m.EntityName)
    </p>
</div>
<div>
    <h6>Manage item</h6>
    <form>
        <button asp-action="Edit" asp-route-id="@Model.EntityId" class="btn btn-warning">Edit</button>
        <button asp-action="Remove" asp-route-id="@Model.EntityId" class="btn btn-danger">Remove</button>
    </form>
</div>
<div>
    <form>
        <button asp-action="Index" class="btn btn-secondary">Go back</button>
    </form>
</div>