@model IEnumerable<ProfessionDriver.ViewModels.EntityViewModel>
@{
    ViewBag.Title = "Entities";
}

<h1>@ViewBag.Title</h1>
<div>
    <a asp-action="Add">Create new</a>
</div>
<table>
    <thead>
        <tr>
            <th>EntityID</th>
            <th>EntityName</th>
            <th>Manage item</th>
        </tr>
    </thead>
     <tbody>
         @if(Model!=null)
        {
            @foreach (var entity in Model)
            {
                <tr>
                    <th>@entity.EntityId</th>
                    <td>@entity.EntityName</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@entity.EntityId">Details</a>
                        <a asp-action="Edit" asp-route-id="@entity.EntityId">Edit</a>
                        <a asp-action="Delete" asp-route-id="@entity.EntityId">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

