@model IEnumerable<ProfessionDriver.ViewModels.EntityViewModel>
@{
    ViewBag.Title = "Entities";
}

<h1>@ViewBag.Title</h1>
<div>
    <form>
        <button asp-action="Add" class="btn btn-success">Create new</button>
    </form>
</div>
<table>
    <thead>
        <tr>
            <th>EntityID</th>
            <th>EntityName</th>
            <th>Manage item</th>
        </tr>
    </thead>
     <tbody>
         @if(Model!=null)
        {
            @foreach (var entity in Model)
            {
                <tr>
                    <th>@entity.EntityId</th>
                    <td>@entity.EntityName</td>
                    <td>
                        <form>
                            <button asp-action="Details" asp-route-id="@entity.EntityId" class="btn btn-primary">Details</button>
                            <button asp-action="Edit" asp-route-id="@entity.EntityId" class="btn btn-warning">Edit</button>
                            <button asp-action="Remove" asp-route-id="@entity.EntityId" class="btn btn-danger">Remove</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

