@model Domain.ViewModels.DriverViewModel
@{
    ViewBag.Title = "Driver details";
}

<h1>@ViewBag.Title</h1>
<div>
    <form>
        <button asp-action="Add" class="btn btn-success">Create new</button>
    </form>
</div>
<div>
    <p>
        <strong>@Html.DisplayNameFor(m => m.DriverId)</strong>
        @Html.DisplayFor(m => m.DriverId)
    </p>
    <p>
        <strong>@Html.DisplayNameFor(m => m.EmployeeId)</strong>
        @Html.DisplayFor(m => m.EmployeeId)
    </p>
    <p>
        <strong>@Html.DisplayNameFor(m => m.Employee) brief</strong>
        @if (Model.Employee != null)
        {
            <a asp-controller="Employee" asp-action="Details" asp-route-id="@Model.EmployeeId">
                @Model.Employee.ToString()
            </a>
        }
    </p>
</div>
<div>
    <h6>Manage item</h6>
    <form>
        <button asp-action="Edit" asp-route-id="@Model.DriverId" class="btn btn-warning">Edit</button>
        <button asp-action="Remove" asp-route-id="@Model.DriverId" class="btn btn-danger">Remove</button>
    </form>
</div>

<div>
    <form>
        <button asp-action="Index" class="btn btn-secondary">Go back</button>
    </form>
</div>