@model ProfessionDriver.ViewModels.EmployeeViewModel
@{
    ViewBag.Title = "Employee details";
}

<h1>@ViewBag.Title</h1>
<div>
    <form>
        <button asp-action="Add" class="btn btn-success">Create new</button>
    </form>
</div>
<div>
    <p>
        <strong>@Html.DisplayNameFor(m=> m.EmployeeId)</strong>
        @Html.DisplayFor(m=>m.EmployeeId)
    </p>
    <p>
        <strong>@Html.DisplayNameFor(m => m.HireDate)</strong>
        @Html.DisplayFor(m => m.HireDate)
    </p>
    <p>
        <strong>@Html.DisplayNameFor(m => m.TerminationDate)</strong>
        @Html.DisplayFor(m => m.TerminationDate)
    </p>
    <p>
        <strong>@Html.DisplayNameFor(m=>m.Entity) brief</strong>
        @if (Model.Entity != null)
        {
            <a asp-controller="Entity" asp-action="Details" asp-route-id="@Model.Entity.EntityId">
                ID: @Html.DisplayFor(m => m.Entity.EntityId)
                Name: @Html.DisplayFor(m => m.Entity.EntityName)
            </a>
        }
    </p>
</div>
<div>
    <h6>Manage item</h6>
        <form>
            <button asp-action="Edit" asp-route-id="@Model.EmployeeId" class="btn btn-warning">Edit</button>
            <button asp-action="Remove" asp-route-id="@Model.EmployeeId" class="btn btn-danger">Remove</button>
        </form>
</div>

<div>
    <form>
        <button asp-action="Index" class="btn btn-secondary">Go back</button>
    </form>
</div>